.banner{
    width: 100%;
    height: 720px;
    margin-top: 80px;
    position: relative;
    background: url(../images/supermarket.png) no-repeat center center;
}
.wec-item-wrap{
    width: 100%;
    height: 700px;
}
.wec-item{
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    text-align: right;
    position: relative;
}
.cafe-text{
    width: 430px;
    padding: 144px 10px 0;
    float: left;
    text-align: left;
}
.cafe-text-title{
    font-size:40px;
    font-family:PingFang-SC-Bold;
    color:rgba(51,51,51,1);
}
.con-dia{
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    margin-top: 32px;
    line-height:34px;
}


.supermarket-pic{
    width: 692px;
    height: 460px;
    background: url(../images/supermarket_bg_pc1.png) no-repeat;
    margin: 120px 10px 0;
    float: right;
}
.supermarket-pc2{
    width: 100%;
    height: 623px;
    background:rgba(247,247,247,1);
}
.supermarket-pic2{
    width: 666px;
    height: 372px;
    background: url(../images/supermarket_bg_pc2.png) no-repeat;
    margin: 100px 10px 0;
    position: absolute;
}
.supermarket-text{
    width:708px;
    height:376px;
    background:rgba(0,147,122,.1);
    float: right;
    margin: 157px 10px 0;
}
.supermarket-text-title{
    margin-top: 66px;
    font-size:40px;
    font-family:PingFang-SC-Bold;
    color:rgba(51,51,51,1);
    text-align: left;
    margin-left: 261px;
}
.supermarket-dia{
    width: 391px;
    float: right;
    margin: 33px 55px 0 0;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:34px;
    text-align: left;
}


.four-song{
    min-height: 622px;
    background-color: #fff;
    padding: 85px 16px 96px;
}
.c{
    max-width: 1200px;
    margin: 0 auto;
}
.four-song h3{
    text-align: center;
    font-size: 40px;
    color: #333;
}
.kong{
    height: 19px;
}
.sub-title{
    height: 33px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: #666666;
    font-family:PingFang-SC-Medium;
}
.four-song ul{
    overflow: hidden;
    padding-top: 74px;
}
.four-song ul li{
    width: 292px;
    text-align: center;
    float: left;
}
.four-song ul li h6{
    font-size:22px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-top: 28px;
}
.four-song ul li p{
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    margin-top: 19px;
}


.experience{
    width:100%;
    height: 558px;
    margin-top: -40px;
}
.experience-pic{
    width: 674px;
    height: 338px;
    background: url(../images/experience-pic.png) no-repeat;
    margin: 100px 10px 0;
    right: 0;
    position: absolute;
}
.experience-text{
    width:200%;
    height:236px;
    background:rgba(42,149,128,.1);
    float: right;
    margin: 157px 10px 0;
}
.bbox{
    width:506px;
    height:236px;
    margin: 157px 23px 0;
    left: 0;
    position: absolute;
}
.sm-box{
    width: 391px;
    float: right;
    margin-right: 96px;
}
.experience-text-title{
    margin-top: 47px;
    font-size:40px;
    font-family:PingFang-SC-Bold;
    color: #333333;
    text-align: left;
}
.experience-dia{
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:34px;
    text-align: left;
    margin-top: 23px;
}


.in{
    background-color: #009c84;
    height: 128px;
    padding: 40px 0;
    line-height: 128px;
}
.in ul{
    overflow: hidden;
}
.in ul li{
    float: left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right: 1px solid #24baa3;
}
.in ul li.four-in{
    border-right: none;
}
.in ul li span{
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    display: block;
}
.in ul li img{
    vertical-align: middle;
}
.in ul li .c-right{
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    text-align: left;
}
@media screen and (max-width:900px){
    .banner{
        height: 4.2rem;
        background: url(../images/wecofe_banner.jpg) no-repeat center center;
        background-size: contain;
        margin-top: 1rem;
    }
}